In [2]:
job_count = 42
print(f"Job count is: {job_count}")

Job count is: 42

In [3]:
job_title = 'Data Engineer'
company_name = 'DataWorks'
remote_status = True
print(job_title, company_name, remote_status)

Data Engineer DataWorks True

In [4]:
base_salary = 120000
bonus = 20000
total_compensation = base_salary + bonus
print(total_compensation)

140000

In [5]:
annual_salary = 72000
monthly_salary = annual_salary / 12
print(monthly_salary)

6000.0

In [6]:
job_title = 'Data Scientist'
company_name = 'AI Solutions'
salary = 110000
bonus = salary * 0.1
total_compensation = salary + bonus
print(job_title, company_name, total_compensation)

Data Scientist AI Solutions 121000.0

In [7]:
job_title = 'Data Scientist'
print(type(job_title))

<class 'str'>

In [8]:
salary = 85000.50
print(type(salary))

<class 'float'>

In [9]:
salary_rate = 120000.75
salary_rate = int(salary_rate)
print(type(salary_rate))

<class 'int'>

In [10]:
company_name = 'DataWiz Inc.'
print(isinstance(company_name, str))

True

In [11]:
job_title = 'data scientist'
job_title_upper = job_title.upper()
print(job_title_upper)

DATA SCIENTIST

In [12]:
job_title = 'Data Analyst'
new_job_title = job_title.replace('Analyst', 'Engineer')
print(new_job_title)

Data Engineer

In [13]:
seniority_level = 'Senior'
job_title = 'Data Analyst'
full_job_title = seniority_level + ' ' + job_title
print(full_job_title)

Senior Data Analyst

In [14]:
job_title = 'Data Scientist'
job_title_length = len(job_title)
print(job_title_length)

14

In [15]:
job_title = 'DATA ENGINEER'
job_title_lower = job_title.lower()
print(job_title_lower)

data engineer

In [16]:
job_title = 'Data Scientist'
result = 'Job Title: ' + job_title
print(result)

Job Title: Data Scientist

In [17]:
position = 'Data Scientist'
company = 'DataWiz Inc.'
result = f'{position} at {company}'
print(result)

Data Scientist at DataWiz Inc.

In [18]:
role = 'Data Analyst'
skill = 'Python'
result = 'Role: {}, Skill: {}'.format(role, skill)
print(result)

Role: Data Analyst, Skill: Python

In [19]:
role = 'Data Engineer'
skill = 'SQL'
result = 'Role: %s, Skill: %s' % (role, skill)
print(result)

Role: Data Engineer, Skill: SQL

In [20]:
monthly_salary = 8000
annual_salary = monthly_salary * 12
print(annual_salary)

96000

In [21]:
avg_salary_analyst = 70000
avg_salary_scientist = 85000
is_analyst_salary_higher = avg_salary_analyst > avg_salary_scientist
print(is_analyst_salary_higher)

False

In [22]:
total_applications = 123
job_openings = 67
remainder = total_applications % job_openings
print(remainder)

56

In [23]:
job_postings = 20
job_postings += 5
print(job_postings)

25

In [24]:
min_salary = 50000
max_salary = 120000
average_salary = (min_salary + max_salary) / 2
print(average_salary)

85000.0